<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Services</h1>
    <table>
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Service Price</th>
            <th>Service Type</th>
            <th>Service Image</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
        <tr>
            <td>{{ service.service_name }}</td>
            <td>{{ service.service_price }}</td>
            <td>{{ service.service_type }}</td>
            <td><img src="{{ service.service_image.url }}"> </td>
        {% endfor %}
        </tr>
    </tbody>
    </table>

</body>
</html>