<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Total Orders
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  {% load static %}
  <link href= "{% static 'css/tailorone.css' %}" rel="stylesheet" />
  <link href= "{% static 'css/tailortwo.css' %}" rel="stylesheet" />
  <link href= "{% static 'css/tailorthree.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
          <div class="logo-image-small">
            <img src="{% static 'assets\img\logo.jpeg' %}" alt="..."  style="height:200px; width:200px;"/>  
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          Tailor
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{% url 'tailor_dashboard' %}">
              <i class="fa fa-home"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="{% url 't_accountinfo' %}">
              <i class="fa fa-user"></i>
              <p>Account Information</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-picture-o"></i>
              <p>Add Portfolio</p>
            </a>
          </li>
          <li>
            <li class="active ">
            <a href="{% url 'totalorders' %}">
              <i class="fa fa-database"></i>
              <p>Total Orders</p>
            </a>
          </li>
          </li>
          <li>
            <a href="{% url 'add_service' %}">
              <i class="fa fa-camera"></i>
              <p>Add Services</p>
            </a>
          </li>
<!--          <li>-->
<!--            <a href="#">-->
<!--              <i class="fa fa-bars"></i>-->
<!--              <p>Order Status</p>-->
<!--            </a>-->
<!--          </li>-->
          <li>
            <a href="{% url 'tailor_logout' %}">
              <i class="fa fa-sign-out"></i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Total Orders</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Service no.
                      </th>
                      <th>
                        Description
                      </th>
                      <th>
                        Pickup-date
                      </th>
                      <th>
                        Delivery-date
                      </th>
                      <th>
                        Payment
                      </th>
                      <th>
                        Status
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          1.
                        </td>
                        <td>
                          Laiba Usman
                        </td>
                        <td>
                          four
                        </td>
                        <td>
                          ---
                        </td>
                        <td>
                          1/14/2023
                        </td>
                        <td>
                          1/25/2023
                        </td>
                        <td>
                          1200/=
                        </td>
                        <td>
                          Pending
                        </td>
                      </tr>
                      <tr>
                        <td>
                         2.
                        </td>
                        <td>
                          Neha Khan
                        </td>
                        <td>
                          nine
                        </td>
                        <td>
                          white/golden lace on both the sleeves
                        </td>
                        <td>
                          1/3/2023
                        </td>
                        <td>
                          1/23/2023
                        </td>
                        <td>
                          600/=
                        </td>
                        <td>
                          Pending
                        </td>
                      </tr>
                      <tr>
                        <td>
                          3.
                        </td>
                        <td>
                          Kanwal Iqbal
                        </td>
                        <td>
                          five
                        </td>
                        <td>
                          ---
                        </td>
                        <td>
                          1/2/2023
                        </td>
                        <td>
                          1/11/2023
                        </td>
                        <td>
                          750/=
                        </td>
                        <td>
                          Delivered
                        </td>
                      </tr>
                      <tr>
                        <td>
                          4.
                        </td>
                        <td>
                          Aneeeqa Fahim
                        </td>
                        <td>
                          three
                        </td>
                        <td>
                          5 green buttons on trouser's bottom
                        </td>
                        <td>
                          1/3/2023
                        </td>
                        <td>
                          1/9/2023
                        </td>
                        <td>
                          3000/=
                        </td>
                        <td>
                          Delivered
                        </td>
                      </tr>
                      <tr>
                        <td>
                          5.
                        </td>
                        <td>
                          Nisa Irfan
                        </td>
                        <td>
                          one
                        </td>
                        <td>
                          maxi with flare
                        </td>
                        <td>
                          1/1/2023
                        </td>
                        <td>
                          1/11/2023
                        </td>
                        <td>
                          1500/=
                        </td>
                        <td>
                          Delivered
                        </td>
                      </tr>
                      <tr>
                        <td>
                          6.
                        </td>
                        <td>
                          Sara Shah
                        </td>
                        <td>
                          two
                        </td>
                        <td>
                          pink collar with white pearls
                        </td>
                        <td>
                          12/25/2022
                        </td>
                        <td>
                          12/29/2022
                        </td>
                        <td>
                          2200/=
                        </td>
                        <td>
                          Late
                        </td>
                      </tr>
                      <tr>
                        <td>
                          7.
                        </td>
                        <td>
                          Asfa Sheikh
                        </td>
                        <td>
                          seven
                        </td>
                        <td>
                          ---
                        </td>
                        <td>
                          12/23/2022
                        </td>
                        <td>
                          12/29/2022
                        </td>
                        <td>
                          600/=
                        </td>
                        <td>
                          Late
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
</body>

</html>